@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    /* outline: 1px solid yellowgreen; */
    font-family: "Noto Serif JP", serif;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #4F4E4E;
}

/* li {
    list-style: none;
} */

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.is_between {
    justify-content: space-between;
}

.is_center {
    justify-content: center;
}

.is_around {
    justify-content: space-around;
}

body {
    width: 85%;
    margin-inline: auto;
    font-size: 12px;
    /* outline: 1px solid #000; */
    /* position: relative; */
    /* overflow-x: hidden; */
    /* background-color: #8a71aa2f; */
}

header {
    h1 {
        margin: 0;
        /* font-size: 50px; */
        font-family: "Sacramento", cursive;
        font-weight: 400;
        font-style: normal;
        /* color: #fff; */
        /* margin-bottom: 5%; */
    }

}

h2 {
    color: #0f0415;
    padding: 0.5%;
    margin: 2% 0;
    font-weight: 500;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 10%;
}

main>img {
    width: 100%;
}

#concept {
    display: flex;
    flex-flow: column;

    p {
        font-family: "Noto Serif JP", serif;
        font-weight: 400;
        font-style: normal;
        font-optical-sizing: auto;
        margin: 1% 0;
    }

    p:nth-of-type(1) {
        font-size: 13px;
    }

    p:nth-of-type(2) {
        font-size: 8px;
    }
}

#menu {
    font-family: "EB Garamond", serif;
    background-image: url("../img/menu_background.png");
    height: 530px;
    width: 100vw;
    /* padding: 2rem 0; */
    margin: 0 calc(50% - 50vw);
}

#menu>div {
    width: 85%;
    margin-inline: auto;

    h2 {
        text-align: center;
    }

    ul {
        list-style-position: inside;
        list-style-image: url("../img/icon_scissors.png");

        li {
            display: flex;
            justify-content: space-between;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        li img {
            vertical-align: bottom;
        }

        li div {
            height: 100%;
            margin: 0;
            padding: 0;
            line-height: 14px;
        }
    }
}

#more {
    display: flex;
    justify-content: flex-end;

    a {
        font-family: "Yaldevi", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}

#style {
    display: flex;
    flex-flow: row;

    h2 {
        margin-top: 50%;
    }

    img {
        width: 95%;
        /* vertical-align: bottom; */

    }

    div {
        width: 50%;
    }

    div:nth-of-type(2) {
        text-align: right;
    }

    div:nth-of-type(2) img {
        margin-bottom: 50%;
    }

    div:nth-of-type(2) a {
        font-size: 8px;
        text-decoration: none;
        color: #4F4E4E;
        padding: 2% 15%;
        margin-right: 5%;
        border: 1px solid #4F4E4E;
    }

}

#salon {
    position: relative;

    h2 {
        position: absolute;
        bottom: 5%;
        left: 10%;
        margin: 0 calc(50% - 50vw);
    }

    img {
        width: 100vw;
        /* padding: 2rem 0; */
        margin: 0 calc(50% - 50vw);
    }

    a {
        font-family: "EB Garamond", serif;
        color: #fff;
        outline: 1px solid #D9D9D9;
        padding: 10% 70%;
    }
}

#product {
    section {
        display: flex;
    }

    section>* {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "EB Garamond", serif;
    }

    section a {
        font-size: 8px;
        text-decoration: none;
        color: #4F4E4E;
        padding: 2% 15%;
        border: 1px solid #4F4E4E;
    }
}


#news {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    background-color: #DCE8EF;
    padding: 10% 0;

    div div:nth-of-type(1) {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    dl {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3%;
    }

    dt {
        width: 30%;
        padding: 2% 0;
        border-top: 1px solid #4F4E4E;
        border-bottom: 1px solid #4F4E4E;

    }

    dt:nth-of-type(1) {
        border-bottom: 0px solid #4F4E4E;
    }

    dd {
        width: 70%;
        padding: 2% 0;
        border-top: 1px solid #4F4E4E;
        border-bottom: 1px solid #4F4E4E;

    }

    dd:nth-of-type(1) {
        border-bottom: 0px solid #4F4E4E;
    }


}

#news>div {
    width: 85%;
    margin-inline: auto;
}


#reservation {
    margin-top: 5%;
    position: relative;

    h2 {
        position: absolute;
        bottom: 10%;
        left: 10%;
        margin: 0 calc(50% - 50vw);
    }

    img {
        width: 100vw;
        /* padding: 2rem 0; */
        margin: 0 calc(50% - 50vw);
    }

    a {
        font-family: "EB Garamond", serif;
        color: #fff;
        outline: 1px solid #D9D9D9;
        padding: 5% 15%;
    }
}

#top {
    margin-top: 20%;
    text-align: center;

    h2 {
        font-size: 13px;
        margin: 0;
    }
}

footer {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    margin-top: 10%;
    background-color: #DCE8EF;
    padding: 5% 0;

    small {
        display: block;
        text-align: center;
    }
}


main>section {
    /* display: flex; */
    /* flex-flow: column; */
    /* justify-content: center; */
    margin: 10% 0;
}

#works>*>section {
    justify-content: center;
}

section>*>section {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 300px;
    padding: 0.5%;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100px;
    height: 100px;
    padding: 10%;
    border-radius: 50%;
    margin: 5% 0;
}

.circle img {
    width: 80%;

}

.achievements {
    img {
        height: 400px;
        width: 300px;
        object-fit: cover;
    }
}

input {
    font-size: 24px;
    width: 100%;
    border-color: #fff;
}

input:focus {
    outline: #fff;
}

textarea {
    font-size: 24px;
    width: 100%;
}

button {
    margin-inline: auto;
    display: block;
    text-align: center;
    padding: 1.5% 6%;
    font-weight: bold;
    background-color: #462952;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #808080;
    color: #fff;
    cursor: pointer;
}

.relative {
    position: relative;
}

.contact>p {
    margin: 1% 0;
}

.label {
    font-size: 12px;
    top: -15px;
    left: 0px;
    /* color: #fff; */
}

label {
    position: absolute;
    top: 3px;
    left: 10px;
    /* color: #ebe8e8; */
}

#flow {
    background-color: #0f0415;
    color: #fff;
    width: 100vw;
    /* padding: 2rem 0; */
    margin: 0 calc(50% - 50vw);

    div {
        width: 74.2%;
        margin-inline: auto;
    }

    h2 {
        color: #fff;
        margin: 2% 0;
    }
}

#textarea {
    height: 200px;
}

.main_img_fadeUp {
    opacity: 0;
    animation: fadein 3s ease-out forwards;
}

@keyframes fadein {
    0% {
        transform: translateY(10px);
        opacity: 0
    }

    100% {
        transform: translateY(0px);
        opacity: 1
    }
}

/* #style{
    height: 100vh;
} */

#style img {
    opacity: 0;
    /* animation: fadein 3s ease-out forwards; */
    /* スクロールアニメーションの設定 */
    /* animation: fadein_img 5s ease-out forwards; */
    /* animation: fadein 5s linear both; */
    /* アニメーションを指定。イージングはlinear。animation-fill-modeはboth */
    /* animation-timeline: view(); */
    /* animation-range: contain 0% contain 50%; */
    /* animation-range: contain 0% contain 100%; */
    /* 開始: 要素がビューポートに完全に入った時、終了: ビューポートの真ん中 */

    /* animation: fadein linear both; */
    animation: fadein_img ease-out forwards;
    animation-duration: 1s;
    /* animation-timeline: view(); */
    animation-range: cover;

}

.reveal {
    transform: translate(0, 0);
    background-position: right 0% center;
}

@keyframes fadein_img {
    0% {
        transform: translateY(20px);
        opacity: 0
    }

    100% {
        transform: translateY(0px);
        opacity: 1
    }
}

@keyframes reveal-image {
    from {
        clip-path: inset(30% round 20%);
    }

    to {
        clip-path: inset(0);
    }
}

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 2.0s;
    animation-fill-mode: forwards;
    opacity: 0;
    /* animation: fadein 3s ease-out forwards; */
}

.achievements_fadeUp {
    animation: fadein 2s ease-out forwards;
    /* animation-name: fadeUpAnime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0; */
}

@keyframes fadeUpAnime {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

    /* from {
        opacity: 0;
        transform: translateY(300px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    } */
}

/* 参考サイト */
/* https://gray-code.com/html_css/setting-image-for-icon-of-list/#google_vignette */
/* https://developer.mozilla.org/ja/docs/Web/CSS/list-style-image */
/* https://www.i-ryo.com/entry/2017/10/12/071107 */

/* 色：https://colors.muz.li/ai-color-combination-generator/ */
/* アイコン：https://icooon-mono.com/ */
/* デザイン：https://umi.design/ */